html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: black;
    color: white;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.container {
    display: flex;
    gap: 40px;
    padding: 40px;
}

.sidebar {
    position: sticky;

    width: 300px;
    top: 50px;
    height: fit-content;
}

.profile-card {
    display: flex;
    flex-direction: column;

    background-color: #292929;
    gap: 15px;
    padding: 20px;
    border-radius: 25px;
}

.profile-picture {
    background-color: #4B4E53;
    border-radius: 25px;

    text-align: center;
}

.name {
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.interest {
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    gap: 7px;
}

.interest-card {
    display: inline-block;
    background-color: #4B4E53;
    border-radius: 25px;
    transition: transform 0.3s;
    padding: 5px;
}

.interest-card:hover{
    background-color: black;
    transform: translateY(-5px);
}


.content {
    display: content-box;

}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}