/* ===== BASIC STRUCTURE ====== */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

hr { 
    width: 100%; 
    border: 0; 
    border-top: 1px solid #4B4E53; 
    margin: 20px 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    color: white;
    background: linear-gradient(
        to bottom,
        #000000,
        #0a192f,
        #112240
        );

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

@keyframes skills-slide-animation {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}


/* ===== MAIN PARENTS ===== */
.container {
    display: flex;
    gap: 40px;
    padding: 40px;
    overflow: visible;
}


/*  ===== SIDEBAR ===== */
.sidebar {
    position: sticky;
    flex-shrink: 0;
    overflow: visible;
    height: auto;
    width: 275px;
    top: 40px;

    z-index: 1;
}

.sidebar::before {
    content: "";
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    background: radial-gradient(
        circle at -20% 50%,
        rgba(0, 0, 255, 0.3),
        transparent 70%
    );
    filter: blur(60px);
    z-index: -1;
}


/* ===== PROFILE CARD (Sidebar Content) ===== */
.profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #292929;
    gap: 15px;
    padding: 20px;
    border-radius: 25px;
}

.profile-card-picture {
    background-color: #4B4E53;
    border-radius: 25px;

    object-fit: cover;

    text-align: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 25px;
    position: relative;
    z-index: 100;
}

.name {
    margin: 0;
    font-weight: 600;
    text-align: center;
}


/* ===== INTEREST CARD (Sidebar Content) ===== */
.interests {
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    gap: 7px;
}

.interest-card {
    display: inline-block;
    background-color: #4B4E53;
    border-radius: 25px;
    transition: transform 0.3s;
    padding: 5px;
}

.interest-card:hover{
    background-color: black;
    transform: translateY(-2px);
    cursor: pointer;
}


/* ===== SKILLS CARD (Sidebar Content) ===== */
.skills-container {
    width: 250px;
    overflow: hidden;

    /* Left-Right Fade Effect */
    -webkit-mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
    mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 10%,
        black 90%,
        transparent 100%
    );
}

.skills-track {
    width: max-content;
    display: flex;

    /* Infinite Slide Animation */
    animation-name: skills-slide-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.skill-card {
    margin-right: 5px;
    background-color: #4B4E53;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}


/* ===== NAVBAR ===== */
.content {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #292929;
    width: 100%;
    border-radius: 25px;
    padding: 20px;
    flex: 1;
    min-width: 0;
}

.navbar {
    display: inline-flex;
    position: sticky;
    top: 0;

    margin-top: -20px;
    margin-right: -20px;

    padding: 10px;
    gap: 30px;
    z-index: 99;

    align-self: flex-end;
    text-align: center;

    background-color: #666;
    border-radius: 0 5px 0 20px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #ffd400;
}

.section {
    transform: translateY(-35px);
}


/* ===== ABOUT ME (Navbar Content) ===== */
.about-me-link {
    color: #ffd400;
}


/* ===== PROJECT (Navbar Content) ===== */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.project-card {
    background-color: #4B4E53;
    padding: 0;
    border-radius: 10px;
    height: 100%;

    text-align: center;
    overflow: hidden;
    position: relative;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover{
    background-color: #555;

    transform: translateY(-8px) scale(1.03);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.project-card::after{
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        ellipse at center,
        transparent 85%,
        rgba(111, 111, 111, 0.8) 100%
    );

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.project-card:hover::after{
    opacity: 1;
}

.project-card-picture {
    width: 100%;
    height: 125px;

    margin-top: -20px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.project-card-title {
    position: relative;
    padding: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    z-index: 1;
}

.project-card-description {
    overflow: hidden;
    opacity: 0;
    max-height: 0;
    padding: 0 15px;

    transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.project-card.is-expanded .project-card-description {
    max-height: 500px;
    opacity: 1;
    padding: 15px;
    margin-top: 10px;
}


/* ===== ACHIEVEMENT (Navbar Content) ===== */
.achievement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.achievement-card {
    background-color: #4B4E53;
    padding: 0;
    border-radius: 10px;
    height: 100%;

    text-align: center;
    overflow: hidden;
    position: relative;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.achievement-card:hover{
    background-color: #555;

    transform: translateY(-8px) scale(1.03);
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0 ,0, 0.5);
}

.achievement-card::after{
    content: "";
    position: absolute;
    inset: 0;

    background: radial-gradient(
        ellipse at center,
        transparent 85%,
        rgba(111, 111, 111, 0.8) 100%
    );

    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    mix-blend-mode: multiply;
}

.achievement-card:hover::after{
    opacity: 1;
}

.achievement-card-picture {
    width: 100%;
    height: 125px;

    margin-top: -20px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.achievement-card-title {
    padding: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.achievement-card-description {
    overflow: hidden;
    max-height: 0;
    padding: 0;

    transform: all 0.3 ease;
}


/* ===== CONTACT (Navbar Content) ===== */
.contacts-container {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.contact-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    background-color: #4B4E53;
    color: white;
    text-decoration: none;

    padding: 10px 25px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.contact-link i{
    /* Increasing Logo Size */
    font-size: 1.2em;
}

.contact-link:hover{
    background-color: #666;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}