/* ===== BASIC STRUCTURE ====== */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

hr {
    border: none;
    height: 1px;
    background-color: #555;
    margin: 10px 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: black;
    color: white;

    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* ===== MAIN PARENTS ===== */
.container {
    display: flex;
    gap: 40px;
    padding: 40px;
}


/*  ===== SIDEBAR ===== */
.sidebar {
    position: sticky;
    flex-shrink: 0;

    width: 300px;
    top: 0px;
    height: 100vh;
}


/* ===== PROFILE CARD (Sidebar Content) ===== */
.profile-card {
    display: flex;
    flex-direction: column;

    background-color: #292929;
    gap: 15px;
    padding: 20px;
    border-radius: 25px;
}

.profile-picture {
    background-color: #4B4E53;
    border-radius: 25px;

    text-align: center;
}

.name {
    margin: 0;
    font-weight: 600;
    text-align: center;
}

.interests {
    display: flex;
    flex-direction: column;
    text-align: center;

    align-items: center;
    gap: 7px;
}

.interest-card {
    display: inline-block;
    background-color: #4B4E53;
    border-radius: 25px;
    transition: transform 0.3s;
    padding: 5px;
}

.interest-card:hover{
    background-color: black;
    transform: translateY(-2px);
    cursor: pointer;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.skill-card {
    background-color: #4B4E53;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
}


/* ===== NAVBAR ===== */
.content {
    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #292929;
    width: 100%;
    border-radius: 25px;
    padding: 20px;
}

.navbar {
    display: inline-flex;
    position: sticky;
    top: 0;

    margin-top: -20px;
    margin-right: -20px;

    padding: 10px;
    gap: 30px;
    z-index: 99;

    align-self: flex-end;
    text-align: center;

    background-color: #4B4E53;
    border-radius: 0 5px 0 20px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #ffd400;
}

.section {
    transform: translateY(-35px);
}


/* ===== ABOUT ME (Navbar Content) ===== */
.about-me-link {
    color: #ffd400;
}


/* ===== PROJECT (Navbar Content) ===== */
.project-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.project-card {
    background-color: #4B4E53;
    padding: 0;
    border-radius: 10px;
    height: 100%;

    text-align: center;
    overflow: hidden;
}

.project-card:hover{
    background-color: #555;
}

.project-card-picture {
    width: 100%;
    height: 125px;

    margin-top: -20px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.project-card-title {
    padding: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.project-card-description {
    overflow: hidden;
    max-height: 0;
    padding: 0;

    transition: all 0.3s ease;
}


/* ===== ACHIEVEMENT (Navbar Content) ===== */
.achievement-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.achievement-card {
    background-color: #4B4E53;
    padding: 0;
    border-radius: 10px;
    height: 100%;

    text-align: center;
    overflow: hidden;
}

.achievement-card:hover{
    background-color: #555;
}

.achievement-card-picture {
    width: 100%;
    height: 125px;

    margin-top: -20px;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.achievement-card-title {
    padding: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.achievement-card-description {
    overflow: hidden;
    max-height: 0;
    padding: 0;

    transform: all 0.3 ease;
}