* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    overflow: hidden;
}

/*========== HOME SECTION */

#home {
    background: linear-gradient(to bottom,
        #0E0B14,
        #0A192F,
        #112240);

    min-height: 100vh;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.terminal-loader h1 {
    font-size: 75px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.blink-cursor {
    color: #38BDF8;
    animation: blink 0.8s infinite;
}

.start-hint {
    font-size: 25px;
    animation: blink 2s infinite;
}

@keyframes blink{
    0%, 100%{opacity: 1;}
    50%{opacity: 0;}
}

.allow-scroll {
    overflow-y: auto !important;
}

/*========== ABOUT SECTION */

#about {
    background: linear-gradient(to bottom, #112240);

    min-height: 100vh;
}

.navbar {
    position: fixed; /*Tetap melayang walau discroll*/
    top: 20px;
    left: 50%;
    transform: translateX(-50px); /*Supaya tepat ditengah layar*/
    z-index: 1000;
    opacity: 0; /*Sembunyikan dulu sebelum space ditekan*/
    transition: opacity 0.5s ease;
}

.navbar.visible {
    opacity: 1;
}

.nav-container {
    padding: 10px 30px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 40px;

    background: rgba(17, 34, 64, 0.3);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(100, 255, 218, 0.5);

    box-shadow: 0 2px 4px rgba(100, 255, 218, 0.4);
}

.nav-links {
    position: relative;
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #38BDF8;
}

.bento-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}